@tailwind base;
@tailwind components;
@tailwind utilities;


.image-container {
    padding: 20px;
    width: 200px;
}


.main-container-test {
    /* background-image: url(../main-bg.svg); */
    background-position: center;
    background-size: 1250px;
    background-repeat: repeat;
    background-color: #FAFAFA;
}